/* Стили для мобильных устройств (ширина экрана до 767px) */
@media screen and (max-width: 767px) {
    /* Здесь добавьте стили для мобильных устройств */
    .word1 {
      padding: 10px; /* Уменьшаем отступы для мобильных устройств */
    }
  
    .ark1 span,
    .ark2 span,
    .ark3 span,
    .ark4 span,
    .ark5 span,
    .ark6 span,
    .ark7 span,
    .ark8 span,
    .ark9 span,
    .ark10 span,
    .ark11 span,
    .ark12 span,
    .ark13 span,
    .ark14 span,
    .ark15 span,
    .ark16 span,
    .ark17 span,
    .ark18 span,
    .ark19 span,
    .ark20 span {
      padding: 3px 8px; /* Уменьшаем отступы у кнопок */
    }
  
    .ark3,
    .ark8 {
      padding: 10px; /* Уменьшаем отступы у блоков с кнопками */
    }
  
    .ark9 {
      padding: 15px; /* Уменьшаем отступы у блока с кнопками */
    }
  }

.BackGround {
    margin: 0;
    padding: 0;
    background-image: url('./static/images/arki/back.jpeg');
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(2px);
}

.word1 {
    background-color: lightgray; /* Цвет заднего фона */
    padding: 20px; /* Добавляем отступы вокруг содержимого блока */
    max-width: 1650px; /* Максимальная ширина блока */
    margin-right: auto; /* Центрируем блок на странице */
}
.ark1 span {
    background-color: green;
  color: white; /* Чтобы текст был белым на зеленом фоне */
  padding: 5px 10px; /* Добавляем отступы, чтобы кнопочки выглядели лучше */
  margin: 2px; /* Добавляем небольшие отступы между кнопочками */
  border-radius: 5px; /* Добавляем закругленные углы */
  cursor: pointer; 
}

.ark1 {
    background-color: lightgray; /* Цвет заднего фона */
    padding: 20px; /* Добавляем отступы вокруг содержимого блока */
    max-width: 1650px; /* Максимальная ширина блока */
    margin-right: auto; /* Центрируем блок на странице */
}

.ark2 span {
    background-color: green;
  color: white; /* Чтобы текст был белым на зеленом фоне */
  padding: 5px 10px; /* Добавляем отступы, чтобы кнопочки выглядели лучше */
  margin: 2px; /* Добавляем небольшие отступы между кнопочками */
  border-radius: 5px; /* Добавляем закругленные углы */
  cursor: pointer; /* Делаем курсор указателем при наведении на кнопочки */
}

.ark2 {
    background-color: lightgray; /* Цвет заднего фона */
    padding: 20px; /* Добавляем отступы вокруг содержимого блока */
    max-width: 1650px; /* Максимальная ширина блока */
    margin-right: auto; /* Центрируем блок на странице */
}

.ark3 {
    background-color: lightgray; /* Цвет заднего фона */
    padding: 20px; /* Добавляем отступы вокруг содержимого блока */
    max-width: 1650px; /* Максимальная ширина блока */
    margin-right: auto; /* Центрируем блок на странице */
    display: flex; /* Используем flexbox */
    flex-wrap: wrap; /* Позволяет кнопкам переноситься на новую строку */
    justify-content: center; /* Центрируем кнопки по горизонтали */
}

.ark3 span {
    background-color: green;
    color: white; /* Чтобы текст был белым на зеленом фоне */
    padding: 5px 10px; /* Добавляем отступы, чтобы кнопочки выглядели лучше */
    margin: 2px; /* Добавляем небольшие отступы между кнопочками */
    border-radius: 5px; /* Добавляем закругленные углы */
    cursor: pointer; /* Делаем курсор указателем при наведении на кнопочки */
}

.ark4 {
    background-color: lightgray; /* Цвет заднего фона */
    padding: 20px; /* Добавляем отступы вокруг содержимого блока */
    max-width: 1650px; /* Максимальная ширина блока */
    margin-right: auto; /* Центрируем блок на странице */
}

.ark4 span {
    background-color: green;
    color: white; /* Чтобы текст был белым на зеленом фоне */
    padding: 5px 10px; /* Добавляем отступы, чтобы кнопочки выглядели лучше */
    margin: 2px; /* Добавляем небольшие отступы между кнопочками */
    border-radius: 5px; /* Добавляем закругленные углы */
    cursor: pointer; /* Делаем курсор указателем при наведении на кнопочки */
}

.ark5 {
    background-color: lightgray; /* Цвет заднего фона */
    padding: 20px; /* Добавляем отступы вокруг содержимого блока */
    max-width: 1650px; /* Максимальная ширина блока */
    margin-right: auto; /* Центрируем блок на странице */
}

.ark5 span {
    background-color: green;
    color: white; /* Чтобы текст был белым на зеленом фоне */
    padding: 5px 10px; /* Добавляем отступы, чтобы кнопочки выглядели лучше */
    margin: 2px; /* Добавляем небольшие отступы между кнопочками */
    border-radius: 5px; /* Добавляем закругленные углы */
    cursor: pointer; /* Делаем курсор указателем при наведении на кнопочки */
}

.ark6 {
    background-color: lightgray; /* Цвет заднего фона */
    padding: 20px; /* Добавляем отступы вокруг содержимого блока */
    max-width: 1650px; /* Максимальная ширина блока */
    margin-right: auto; /* Центрируем блок на странице */
}

.ark6 span {
    background-color: green;
    color: white; /* Чтобы текст был белым на зеленом фоне */
    padding: 5px 10px; /* Добавляем отступы, чтобы кнопочки выглядели лучше */
    margin: 2px; /* Добавляем небольшие отступы между кнопочками */
    border-radius: 5px; /* Добавляем закругленные углы */
    cursor: pointer; /* Делаем курсор указателем при наведении на кнопочки */
}

.ark7 {
    background-color: lightgray; /* Цвет заднего фона */
    padding: 20px; /* Добавляем отступы вокруг содержимого блока */
    max-width: 1650px; /* Максимальная ширина блока */
    margin-right: auto; /* Центрируем блок на странице */
}

.ark7 span {
    background-color: green;
    color: white; /* Чтобы текст был белым на зеленом фоне */
    padding: 5px 10px; /* Добавляем отступы, чтобы кнопочки выглядели лучше */
    margin: 2px; /* Добавляем небольшие отступы между кнопочками */
    border-radius: 5px; /* Добавляем закругленные углы */
    cursor: pointer; /* Делаем курсор указателем при наведении на кнопочки */
}

.ark8 {
    background-color: lightgray; /* Цвет заднего фона */
    padding: 20px; /* Добавляем отступы вокруг содержимого блока */
    max-width: 1650px; /* Максимальная ширина блока */
    margin-right: auto; /* Центрируем блок на странице */
    display: flex; /* Используем flexbox */
    flex-wrap: wrap; /* Позволяет кнопкам переноситься на новую строку */
    justify-content: center; /* Центрируем кнопки по горизонтали */
}

.ark8 span {
    background-color: green;
    color: white; /* Чтобы текст был белым на зеленом фоне */
    padding: 5px 10px; /* Добавляем отступы, чтобы кнопочки выглядели лучше */
    margin: 2px; /* Добавляем небольшие отступы между кнопочками */
    border-radius: 5px; /* Добавляем закругленные углы */
    cursor: pointer; /* Делаем курсор указателем при наведении на кнопочки */
}

.ark9 {
    background-color: lightgray; /* Цвет заднего фона */
    padding: 20px; /* Добавляем отступы вокруг содержимого блока */
    max-width: 1650px; /* Максимальная ширина блока */
    margin-right: auto; /* Центрируем блок на странице */
}

.ark9 span {
    background-color: green;
    color: white; /* Чтобы текст был белым на зеленом фоне */
    padding: 5px 10px; /* Добавляем отступы, чтобы кнопочки выглядели лучше */
    margin: 2px; /* Добавляем небольшие отступы между кнопочками */
    border-radius: 5px; /* Добавляем закругленные углы */
    cursor: pointer; /* Делаем курсор указателем при наведении на кнопочки */
}

.ark10 {
    background-color: lightgray; /* Цвет заднего фона */
    padding: 20px; /* Добавляем отступы вокруг содержимого блока */
    max-width: 1650px; /* Максимальная ширина блока */
    margin-right: auto; /* Центрируем блок на странице */
}

.ark10 span {
    background-color: green;
    color: white; /* Чтобы текст был белым на зеленом фоне */
    padding: 5px 10px; /* Добавляем отступы, чтобы кнопочки выглядели лучше */
    margin: 2px; /* Добавляем небольшие отступы между кнопочками */
    border-radius: 5px; /* Добавляем закругленные углы */
    cursor: pointer; /* Делаем курсор указателем при наведении на кнопочки */
}

.ark11 {
    background-color: lightgray; /* Цвет заднего фона */
    padding: 20px; /* Добавляем отступы вокруг содержимого блока */
    max-width: 1650px; /* Максимальная ширина блока */
    margin-right: auto; /* Центрируем блок на странице */
}

.ark11 span {
    background-color: green;
    color: white; /* Чтобы текст был белым на зеленом фоне */
    padding: 5px 10px; /* Добавляем отступы, чтобы кнопочки выглядели лучше */
    margin: 2px; /* Добавляем небольшие отступы между кнопочками */
    border-radius: 5px; /* Добавляем закругленные углы */
    cursor: pointer; /* Делаем курсор указателем при наведении на кнопочки */
}

.ark12 {
    background-color: lightgray; /* Цвет заднего фона */
    padding: 20px; /* Добавляем отступы вокруг содержимого блока */
    max-width: 1650px; /* Максимальная ширина блока */
    margin-right: auto; /* Центрируем блок на странице */
}

.ark12 span {
    background-color: green;
    color: white; /* Чтобы текст был белым на зеленом фоне */
    padding: 5px 10px; /* Добавляем отступы, чтобы кнопочки выглядели лучше */
    margin: 2px; /* Добавляем небольшие отступы между кнопочками */
    border-radius: 5px; /* Добавляем закругленные углы */
    cursor: pointer; /* Делаем курсор указателем при наведении на кнопочки */
}

.ark13 {
    background-color: lightgray; /* Цвет заднего фона */
    padding: 20px; /* Добавляем отступы вокруг содержимого блока */
    max-width: 1650px; /* Максимальная ширина блока */
    margin-right: auto; /* Центрируем блок на странице */
}

.ark13 span {
    background-color: green;
    color: white; /* Чтобы текст был белым на зеленом фоне */
    padding: 5px 10px; /* Добавляем отступы, чтобы кнопочки выглядели лучше */
    margin: 2px; /* Добавляем небольшие отступы между кнопочками */
    border-radius: 5px; /* Добавляем закругленные углы */
    cursor: pointer; /* Делаем курсор указателем при наведении на кнопочки */
}

.ark14 {
    background-color: lightgray; /* Цвет заднего фона */
    padding: 20px; /* Добавляем отступы вокруг содержимого блока */
    max-width: 1650px; /* Максимальная ширина блока */
    margin-right: auto; /* Центрируем блок на странице */
}

.ark14 span {
    background-color: green;
    color: white; /* Чтобы текст был белым на зеленом фоне */
    padding: 5px 10px; /* Добавляем отступы, чтобы кнопочки выглядели лучше */
    margin: 2px; /* Добавляем небольшие отступы между кнопочками */
    border-radius: 5px; /* Добавляем закругленные углы */
    cursor: pointer; /* Делаем курсор указателем при наведении на кнопочки */
}

.ark15 {
    background-color: lightgray; /* Цвет заднего фона */
    padding: 20px; /* Добавляем отступы вокруг содержимого блока */
    max-width: 1650px; /* Максимальная ширина блока */
    margin-right: auto; /* Центрируем блок на странице */
}

.ark15 span {
    background-color: green;
    color: white; /* Чтобы текст был белым на зеленом фоне */
    padding: 5px 10px; /* Добавляем отступы, чтобы кнопочки выглядели лучше */
    margin: 2px; /* Добавляем небольшие отступы между кнопочками */
    border-radius: 5px; /* Добавляем закругленные углы */
    cursor: pointer; /* Делаем курсор указателем при наведении на кнопочки */
}

.ark16 {
    background-color: lightgray; /* Цвет заднего фона */
    padding: 20px; /* Добавляем отступы вокруг содержимого блока */
    max-width: 1650px; /* Максимальная ширина блока */
    margin-right: auto; /* Центрируем блок на странице */
}

.ark16 span {
    background-color: green;
    color: white; /* Чтобы текст был белым на зеленом фоне */
    padding: 5px 10px; /* Добавляем отступы, чтобы кнопочки выглядели лучше */
    margin: 2px; /* Добавляем небольшие отступы между кнопочками */
    border-radius: 5px; /* Добавляем закругленные углы */
    cursor: pointer; /* Делаем курсор указателем при наведении на кнопочки */
}

.ark17 {
    background-color: lightgray; /* Цвет заднего фона */
    padding: 20px; /* Добавляем отступы вокруг содержимого блока */
    max-width: 1650px; /* Максимальная ширина блока */
    margin-right: auto; /* Центрируем блок на странице */
}

.ark17 span {
    background-color: green;
    color: white; /* Чтобы текст был белым на зеленом фоне */
    padding: 5px 10px; /* Добавляем отступы, чтобы кнопочки выглядели лучше */
    margin: 2px; /* Добавляем небольшие отступы между кнопочками */
    border-radius: 5px; /* Добавляем закругленные углы */
    cursor: pointer; /* Делаем курсор указателем при наведении на кнопочки */
}

.ark18 {
    background-color: lightgray; /* Цвет заднего фона */
    padding: 20px; /* Добавляем отступы вокруг содержимого блока */
    max-width: 1650px; /* Максимальная ширина блока */
    margin-right: auto; /* Центрируем блок на странице */
}

.ark18 span {
    background-color: green;
    color: white; /* Чтобы текст был белым на зеленом фоне */
    padding: 5px 10px; /* Добавляем отступы, чтобы кнопочки выглядели лучше */
    margin: 2px; /* Добавляем небольшие отступы между кнопочками */
    border-radius: 5px; /* Добавляем закругленные углы */
    cursor: pointer; /* Делаем курсор указателем при наведении на кнопочки */
}

.ark19 {
    background-color: lightgray; /* Цвет заднего фона */
    padding: 20px; /* Добавляем отступы вокруг содержимого блока */
    max-width: 1650px; /* Максимальная ширина блока */
    margin-right: auto; /* Центрируем блок на странице */
}

.ark19 span {
    background-color: green;
    color: white; /* Чтобы текст был белым на зеленом фоне */
    padding: 5px 10px; /* Добавляем отступы, чтобы кнопочки выглядели лучше */
    margin: 2px; /* Добавляем небольшие отступы между кнопочками */
    border-radius: 5px; /* Добавляем закругленные углы */
    cursor: pointer; /* Делаем курсор указателем при наведении на кнопочки */
}

.ark20 {
    background-color: lightgray; /* Цвет заднего фона */
    padding: 20px; /* Добавляем отступы вокруг содержимого блока */
    max-width: 1650px; /* Максимальная ширина блока */
    margin-right: auto; /* Центрируем блок на странице */
}

.ark20 span {
    background-color: green;
    color: white; /* Чтобы текст был белым на зеленом фоне */
    padding: 5px 10px; /* Добавляем отступы, чтобы кнопочки выглядели лучше */
    margin: 2px; /* Добавляем небольшие отступы между кнопочками */
    border-radius: 5px; /* Добавляем закругленные углы */
    cursor: pointer; /* Делаем курсор указателем при наведении на кнопочки */
}